@import 'elements';
@import 'typography';

body {
	background: transparent url('/img/tile.png') top left repeat;
	font-size: 28px;

	.wrapper {
		width: 940px;
		margin: 0 auto;
	}

	.banner {
		font-family: @bannerFont;
		font-size: @biggest;
		color: white;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
	}

	.notice {
		font-family: @mainFont;
		font-size: @small;
		background: white;
		padding: 10px;
		.rounded(5px);
	}
}
