//@import 'lesshat';
@import 'typography';

body {
	background: green;
	font-size: 28px;

	.wrapper {
		width: 940px;
		margin: 0 auto;
	}

	.banner {
		font-family: @bannerFont;
		font-size: @biggest;
		color: white;
	}

	.notice {
		font-family: @mainFont;
		font-size: @small;
	}
}
